*{
  list-style: none;
}

body{
  background-color: #f0ece2;
  z-index: 1;
  display: flex;
}

.main{
  z-index: 2;
}


.main h1{
  color: #b84343;
  font-family: cursive;
}

.main a{
  background: rgba(79,77,71,.1);
  border-radius: 50%;
  color: #743F3F;
  text-decoration: none;
  width: 100px;
  height: 100px;
  display: block;
  padding: 30px 50px;
  position: absolute;
  margin-left: 40px;
  margin-top: 0px;
  text-align: center;
  text-decoration: none;
  line-height: 90px;
}

.main a:hover{
  background: rgba(79,77,71,.05);
}

.Work-left{
  height: 70px;
  width: 70px;
  float: left;
}

.Work-right{
  color: #b84343;
  font-family: cursive;
  float: right;
}
